<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <nav class="col-md-12">

        <ul class="nav navbar-right" data-hook="">
          <div data-hook=""> <%= render partial: 'spree/shared/login_bar_1' %></div>

        </ul>
      </nav>
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= logo %>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
    <div class="container">

      <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>

    </div>
  </header>

</div>
