<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Bathla</title>
=======
    <title>HerokuTest</title>
>>>>>>> 5f2c265a0a60c68c62402d503865b7c60a8485f2
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
